@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Manager.Host.PermitView.TrailerInfo>
@using Manager.Helpers
@{
    Layout = null;
}
<fieldset>
    <legend>Trailer Information</legend>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-8">
            <select class="form-control" id="trailer-selector">
                <option></option>
            </select>
        </div>
    </div>
    @*@Html.GroupItem(Model.Description, "Description", "Description")*@
    @Html.GroupItem(Model.Make, new GroupItemProperties("Make") { label = "Make" })
    @*@Html.GroupItem(Model.Model, "Model", "Model")*@
    @Html.GroupItem(Model.Type, new GroupItemProperties("Type") { label = "Trailer Type" })
    @*@Html.GroupItem(Model.SerialNumber, "SerialNumber", "Serial Number")*@
    @Html.GroupItem(Model.LicenseNumber, new GroupItemProperties("LicenseNumber") { label = "License Number" })
    @Html.GroupItem(Model.State, new GroupItemProperties("State") { label = "State" })
    @Html.GroupItem(Model.EmptyWeight, new GroupItemProperties("EmptyWeight") { label = "Empty Weight", inputType = GroupItemProperties.InputType.NUMBER , range = new GroupItemProperties.Range() { min = 0 } })
    @*@Html.GroupItem(Model.RegisteredWeight, "RegisteredWeight", "Registered Weight")*@
    @*@Html.GroupItem(Model.RegulationWeight, "RegulationWeight", "Regulation Weight")*@
</fieldset>
