@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Manager.Host.PermitView.TrailerInfo>
@using Manager.Helpers
@{
    Layout = null;
}
<fieldset>
    <legend>Trailer Information</legend>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-8">
            <select class="form-control" id="trailer-selector">
                <option></option>
            </select>
        </div>
    </div>
    @*@Html.GroupItem(Model.Description, "Description", "Description")*@
    @Html.GroupItem(Model.Make, "Make", "Make")
    @*@Html.GroupItem(Model.Model, "Model", "Model")*@
    @Html.GroupItem(Model.Type, "Type", "Trailer Type")
    @*@Html.GroupItem(Model.SerialNumber, "SerialNumber", "Serial Number")*@
    @Html.GroupItem(Model.LicenseNumber, "LicenseNumber", "License Number")
    @Html.GroupItem(Model.State, "State", "State")
    @Html.GroupItem(Model.EmptyWeight, "EmptyWeight", "Empty Weight")
    @*@Html.GroupItem(Model.RegisteredWeight, "RegisteredWeight", "Registered Weight")*@
    @*@Html.GroupItem(Model.RegulationWeight, "RegulationWeight", "Regulation Weight")*@
</fieldset>
