@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<PermitIssuer.WebModule.WebModuleViewModel>
@{
    Layout = null;
}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/images/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        <title>UPP Prototype</title>

        <!-- Styling content -->
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />

        <!--  Light Bootstrap Table core CSS    -->
        <link href="css/bootstrap/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <!-- <link href="css/app.css" rel="stylesheet" /> -->

        <!--  Fonts and icons     -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap/pe-icon-7-stroke.css" rel="stylesheet" />
    </head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue">
            <div class="sidebar-wrapper">
                <div class="logo">
                    Permit Issuer Setup
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="#">
                            <i class="pe-7s-config"></i>
                            <p>Configuration</p>
                        </a>
                    </li>
                    <li>
                        <a href="permits/">
                            <i class="pe-7s-folder"></i>
                            <p>Permits</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Fixed Configuration Parameters</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Scope</td>
                                        <td>@Model.Configuration.Keyword(UPP.Configuration.Keys.SERVICE_DIRECTORY__SCOPES)</td>
                                    </tr>
                                    <tr>
                                        <td>Self URI</td>
                                        <td>@Model.Configuration.Keyword(UPP.Configuration.Keys.SERVICE_DIRECTORY__HOST_URI)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Service Behavior</h4>
                            <form role="form" method="post" action="">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="behavior" value="always" @(Model.ModuleConfiguration.Behavior == "always" ? "checked" : "")>
                                        Always Approve
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="behavior" value="never" @(Model.ModuleConfiguration.Behavior == "never" ? "checked" : "")>
                                        Always Deny
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="behavior" value="na" @(Model.ModuleConfiguration.Behavior == "na" ? "checked" : "")>
                                        Always N/A
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="behavior" value="random" @(Model.ModuleConfiguration.Behavior == "random" ? "checked" : "")>
                                        Randomly Choose
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-default">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                                
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="js/jquery.3.2.1.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>    
</body>
</html>